* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__left {
  flex: 0.7;

  margin-right: 30px;
}

.app__right {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app_dropdown {
  background-color: #fff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__graph {
  flex-grow: 1;
}

.app__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    flex: 1;
    width: 100%;
  }

  .app__right {
    flex: 1;
    width: 100%;
  }
}

@media (max-width: 620px) {
  .app__stats {
    flex-direction: column;
    text-align: center;
  }
}
